
.info-usuario {
  display: flex;
  align-items: center;
  gap: var(--espacio-s);
  color: #fff;
  margin-left: auto;
}

.nombre-usuario {
  color: #fff;
  font-size: var(--tamano-texto-s);
  font-weight: 700;
  display: block;
  max-width: 9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 1199px) {
  .info-usuario .btn-fantasma {
    display: none;
  }
}

@media (min-width:1200px) {
  .nombre-usuario {
    font-size: var(--tamano-texto-m);
  }
}
