/* ===== EVALUACIÓN ===== */

.contenedor-evaluacion {
    width: 100%;
    min-height: 100%;
    min-width: 350px;
    padding: var(--espacio-s);
}

.formulario-evaluacion {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: var(--espacio-xl);
    margin-bottom: var(--espacio-m);
    background: var(--superficie);
    border-radius: var(--radio-borde);
}

/* TÍTULO */
.titulo-evaluacion {
    text-align: center;
    margin-bottom: var(--espacio-s);
    color: var(--verde);
    font-size: var(--tamano-texto-xl);
    font-weight: 600;
}

/* INSTRUCCIÓN */
.instruccion-evaluacion {
    text-align: center;
    color: var(--texto-sutil);
    font-size: var(--tamano-texto-s);
    margin-bottom: var(--espacio-l);
    padding-bottom: var(--espacio-m);
    border-bottom: 1px solid var(--borde);
}

/* PREGUNTAS */
.pregunta-evaluacion {
    margin-bottom: var(--espacio-l);
}

.texto-pregunta {
    font-size: var(--tamano-texto-m);
    margin-bottom: var(--espacio-s);
}

/* ESCALA */
.likert-numerico {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: var(--espacio-s);
}

/* OPCIONES */
.likert-numerico label {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--espacio-s);
    border: 1px solid var(--borde);
    border-radius: var(--radio-borde);
    background: var(--fondo);
    font-size: var(--tamano-texto-s);
    cursor: pointer;
}

/* INPUT OCULTO */
.likert-numerico input {
    display: none;
}

/* SELECCIÓN */
.likert-numerico input:checked + span,
.likert-numerico label:has(input:checked) {
    background: var(--verde-claro);
    color: white;
    border-color: var(--verde-claro);
}

/* TEXTO */
.likert-numerico span {
    display: block;
}

/* EXTREMOS */
.likert-extremos {
    display: flex;
    justify-content: space-between;
    font-size: var(--tamano-texto-xs);
    color: var(--texto-sutil);
    margin-top: var(--espacio-xs);
}

/* BOTÓN */
.acciones-evaluacion {
    margin-top: var(--espacio-l);
}


/* ===== RESPONSIVE ===== */

@media (min-width:1200px) {
    .contenedor-evaluacion {
        display: flex;
        justify-content: center;
    }

    .formulario-evaluacion {
        max-width: 700px;
    }
}