#contenedor-inicio-sesion {
    width: min(92%, 460px);
    margin: auto;
}

.formulario-inicio-sesion {
    backdrop-filter: blur(10px);
}

.registro {
    margin-top: calc(var(--espacio-s) * -1);
}

@media (min-width:768px) {
    #contenedor-inicio-sesion {
        width: min(100%, 480px);
    }
}
